.App {
  height: 100%;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ngăn cuộn trên toàn bộ trang */
}
